@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';
@use 'responsive.scss';

html,
body {
  height: 100%; // Or 100vh for html, 100% for body
  width: 100%;
  overflow: hidden; // Prevent page scroll
}

// If there's a known root div ID like #root for the React app
#root { // Or the actual selector for where the Remix app mounts
  height: 100%;
  display: flex; // Assuming it should be a flex container for overall layout
  flex-direction: column;
  overflow: hidden; // It might also need this if it's not the direct body child
}

:root {
  --gradient-opacity: 0.8;
  --primary-color: rgba(158, 117, 240, var(--gradient-opacity));
  --secondary-color: rgba(138, 43, 226, var(--gradient-opacity));
  --accent-color: rgba(128, 59, 239, var(--gradient-opacity));
  // --primary-color: rgba(147, 112, 219, var(--gradient-opacity));
  // --secondary-color: rgba(138, 43, 226, var(--gradient-opacity));
  // --accent-color: rgba(180, 170, 220, var(--gradient-opacity));
}
