.CopyButtonContainer {
  button:before {
    content: 'Copied';
    font-size: 0.75rem; /* 12px */
    position: absolute;
    left: -3.3125rem; /* -53px */
    padding: 0.125rem 0.375rem; /* 2px 6px */
    height: 1.875rem; /* 30px */
  }
}
