.CopyButtonContainer {
  button:before {
    content: 'Copied';
    font-size: 1.09rem; /* original: 12px */
    position: absolute;
    left: -4.82rem; /* original: -53px */
    padding: 0.18rem 0.55rem; /* original: 2px 6px */
    height: 2.73rem; /* original: 30px */
  }
}
